/* Debug CSS */
@mixin is-debug {
  @if($is-debug == true){
    border: 2px solid $secondary-red;
  }
}

/* Fill Color in block */
@mixin fill-color($hex) {
  background-color: $hex;
  border-color: transparent;
}


/** Font Smoothing
* This will be enabled automatically when using the .slab class.
* You may want to disable it for performance reasons, since these styles will cascade down.
* https://davidwalsh.name/font-smoothing
**/
@mixin font-smoothing {
	@if $font-smoothing == true { // Font smoothing variable exists in the variables partial and can be overridden;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
} @else {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	}
}

/* Block Box Shadow */
@mixin box-shadow($depth) {
  @if($depth == '1'){
    box-shadow: $depth-1;
  }
  @if($depth == '1-half'){
    box-shadow: $depth-1-half;
  }
  @if($depth == '2'){
    box-shadow: $depth-2;
  }
  @if($depth == '3'){
    box-shadow: $depth-3;
  }
  @if($depth == '4'){
    box-shadow: $depth-4;
  }
  @if($depth == '5'){
    box-shadow: $depth-5;
  }
  @if($depth == 'bottom-shadow'){
    box-shadow: $bottom-shadow;
  }
}

/* CTA Uppercase */
@mixin action-text-style{
  @if $is-action-uppercase == true {
    text-transform: uppercase;
  }
}
