@import "./variables";

/* Project Setting */
$generate-responsive : true !default;
$font-smoothing: true !default;
$is-debug: false !default;
$is-action-uppercase: true !default;

.is {
    &-debug {
        border: 1px dotted $secondary-red;
    }
}