/* Typography */
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

/* Color */

// Primary
$primary-black: #4E535A !default;
$primary-purple: #79589E !default;
$primary-white: #FBFBFD !default;
$primary-blue: #3268B9 !default;

// Secondary

$secondary-gray: #96A3B5 !default;
$secondary-red: #FD7272 !default;
$secondary-yellow: #FFB944 !default;
$secondary-silver: #E3E7EF !default;
$secondary-green: #1ABC9C !default;
