.ui {
    @include is-debug();
    &.button{
        @include is-debug();
        @include cta-text-transform();
        @include fill-color($primary);

        cursor: pointer;
        padding: $space-small;
        border-radius: $radius;    
        color: $reverse-text;   
        font-size: $base-font-size;
        font-weight: $weight-medium;
        letter-spacing: $base-letter-spacing;
        
        /**
        * Transition
        **/
        transition: $cubic-transition-slow; 
        
        /**
        * Hover Animation
        **/
        &:hover {
            background: darken($primary, $darken-tone);
            transition: $cubic-transition-slow; 
        } 

        /**
        * Sizes
        **/
        &.has-full-width {
            width: 100%;
        }
        &.is-small{
            font-size: $size-2;
            border-radius: $radius-small;    
        }
        &.is-normal{
            font-size: $base-font-size;
        }
        &.is-medium{
            font-size: $size-4;   
        }
        &.is-large {
            font-size: $size-5;
        }

        /**
        * Types
        **/
        &.info {
            @include fill-color($info);
            &:hover {
                background: darken($info, $darken-tone);
            }
        }
        &.success {
            @include fill-color($success);
            &:hover {
                background: darken($success, $darken-tone);
            }
        }
        &.warning {
            @include fill-color($warning);
            color: $text;
            &:hover {
                background: darken($warning, $darken-tone);
            }
        }
        &.danger {
            @include fill-color($danger);
            &:hover {
                background: darken($danger, $darken-tone);
            }
        }

        /**
        * Outline Style
        */
        &.outline {
            background: transparent;
            border: solid 2px $primary;
            color: $primary;
            &:hover {
                background: $primary;
                color: $reverse-text;
                transition: $cubic-transition-slow;   
            }
            &.info {
                border: solid 2px $info;
                color: $info;
                &:hover {
                    color: $reverse-text;
                    background: $info;
                }
            }
            &.success {
                border: solid 2px $success;
                color: $success;
                &:hover {
                    color: $reverse-text;
                    background: $success;
                }
            }
            &.warning {
                border: solid 2px $warning;
                color: $warning;
                &:hover {
                    color: $text;
                    background: $warning;
                }
            }
            &.danger {
                border: solid 2px $danger;
                color: $danger;
                &:hover {
                    color: $reverse-text;
                    background: $danger;
                }
            }
    }
}

// Remove Outline border from button CHROME,FIREFOX,SAFARI
button:focus {
    outline:0;
}
