/* Typography Base Styles*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

html {
  font-size: $base-font-size;
  font-family: $family-sans-serif; // This is just for reference
  text-rendering: $render-mode;
  text-size-adjust: 100%;
  @include font-smoothing();
}

body {
  font-size: $base-font-size;
  color: $base-font-color;
  line-height: $base-line-height;
}

h1 {
  font-size:   $size-7;
  line-height: $base-line-height;
}

h2 {
  font-size:   $size-6;
  line-height: $base-line-height;
}

h3 {
  font-size:   $size-5;
  line-height: $base-line-height;
}

h4 {
  font-size:   $size-4;
  line-height: $base-line-height;
}

h5,h6 {
  font-size:   $size-1;
  line-height: $base-line-height;
}

/* Unbold header elements by default */
h1, h2, h3, h4, h5, h6 {
  font-weight: $weight-normal;
}

p {
  font-size: $size-3;
  line-height: $base-line-height;
  color: $text;
}

/* Typography Emphasis ad Styling*/
strong,b {
  font-weight: $weight-bold;
}

blockquote {
  background: $secondary-silver;
  border-left: $space-small solid $info;
  margin: $space-small 0px $space-small $space-normal;
  padding: $space-small $space-small;
  border-radius: $radius;
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
    color: $info;
    font-size: $size-7;
    content: open-quote;
    line-height: 0.1em;
    margin-right: $space-small;
    vertical-align: -0.4em;
  }
  p {
    padding: 0px;
    margin: 0px;
  }
}


.has {
  /* Font Weight */
  &-font-weight {
    @each $weight-name, $weight in $elegant-font-weight-map {
      &--#{$weight-name}{
        font-weight: $weight
      }
    }
  }
}

/* Anchor tab */
a {
  color: $primary-black;
  text-decoration: none;
  transition: $cubic-transition;
  &:hover {
    color: $primary-black;
    transition: $cubic-transition;
  }
}
